// you can change colors here
$theme-color: #096dd9;

// sidebar
$sidebar-width: 22rem;

// change font family
$font-family: 'system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Tahoma, Arial, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Noto Serif SC", SourceHanSansSC, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$font-family-heading: 'system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Tahoma, Arial, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Noto Serif SC", SourceHanSansSC, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$font-family-mono: 'MesloLGSNF, menlo, consolas, "Roboto Mono", "Ubuntu Mono"';