// you can change colors here
$theme-color: #096dd9;

// sidebar
$sidebar-width: 22rem;

// 应用字体
$vp-font: '"Noto Sans", "Noto Sans Display", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK", "Noto Sans JP", "Noto Sans KR", "Noto Sans Symbols"';

// change font family
//$font-family: 'system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Tahoma, Arial, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Noto Serif SC", SourceHanSansSC, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
//$font-family-heading: 'system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Tahoma, Arial, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Noto Serif SC", SourceHanSansSC, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$font-family: '"Noto Sans", "Noto Sans Display","Helvetica Neue", "Helvetica", "Tahoma", "Arial", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK", "Noto Sans JP", "Noto Sans KR", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Noto Sans Symbols"';
$font-family-heading: '"Noto Sans", "Noto Sans Display","Helvetica Neue", "Helvetica", "Tahoma", "Arial", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK", "Noto Sans JP", "Noto Sans KR", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Noto Sans Symbols"';
$font-family-mono: 'MesloLGSNF, menlo, consolas, "Roboto Mono", "Ubuntu Mono"';